name: test

on: { push: {} }

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with: { go-version: "stable", cache: true }
      - name: Set up Bun
        uses: oven-sh/setup-bun@v1
        with: { bun-version: latest }
      - name: Install dependencies
        run: bun install
      - name: Run Bun tests
        run: bun test
      - name: Run Bun tests with DynamoDB Local
        run: TEST_DYNAMODB_LOCAL=true bun test --timeout=60000
      - name: Run Go tests
        run: go test -v ./...
