name: test

on: { push: {} }

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with: { go-version: 'stable', cache: true }
      - name: Set up Bun
        uses: oven-sh/setup-bun@v1
        with: { bun-version: latest }
      - run: bun install
      - run: bun x tsc
      - run: bun x prettier --check ./src ./test
      - run: bun test
      - run: TEST_DYNAMODB_LOCAL=true bun test --timeout=60000
      - run: go test -v ./...
